<header>
  <!-- header to update depending on whether user is logged in -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <% if (userID) { %>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <h5 style="margin: 2px 4px 0 0; padding-right: 5px;">Logged In As: <%= userID.email %></h5>
    <form class="" action="/logout" method="POST">
      <button type="submit" class="btn btn-info">logout</button>
    </form>
    <a class="navbar-brand" href="/logout"></a>
    <% } else { %>
    <a class="navbar-brand" href="/login">Login Here!</a>
    <br>
    <a class="navbar-brand" href="/register">Register Here!</a>
    <% } %>
  </nav>

</header>