<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/static/css/body.css" />
    <title>New URL - TinyApp Example</title>
  </head>

  <body>
    <%- include('partials/_header', {user: user}) %>
    <main class="center-main" style="margin: 1em">
      <h3>Create TinyURL</h3>
      <form class="form-inline" action="/urls" method="POST">
        <div class="form-group mb-2">
          <label class="enter" for="longURL">Enter a URL:</label>
          <input
            class="form-control"
            type="text"
            name="longURL"
            placeholder="http://"
            style="width: 300px; margin: 1em"
          />
          <button type="submit" class="btn create-btn" class="sub-btn">
            Submit
          </button>
        </div>
      </form>
      <img class="flowers" src="/static/flowers.png" />
    </main>
  </body>
</html>
