html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(1, 33, 43);
  color: whitesmoke;
  font-family: sans-serif;
  padding: 1em 2em;
}
a {
  text-decoration: none;
  color: pink;
}

a:visited {
  text-decoration: none;
  color: pink;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  align-items: center;
  font-size: 1em;
  margin: 1em;
}

.navLeft {
  /* color: red; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1em;
  letter-spacing: 3px;
}

.navLeft a {
  margin: 0 0.5em;
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 2.5em;
  margin-bottom: 0;
}

.not-brand {
  display: flex;
  align-items: flex-end;
}

.inAs {
  font-size: 1em;
  margin: 1em;
  text-transform: uppercase;
}

.inAs p {
  display: contents;
}

.log-reg-right {
  display: flex;
  justify-content: space-between;
}

.log-reg-right .navbar-brand {
  margin-left: 1em;
  font-size: 2em;
}

.logout-btn {
  outline: none;
  text-decoration: none;
  border: none;
  background-color: rgb(1, 33, 43);
  color: whitesmoke;
  font-size: 1em;
  margin: 1em;
  text-transform: uppercase;
}

.btn {
  height: 2em;
  width: 5em;
  border-radius: 6px;
  border: 0px;
  font-size: 1em;
  outline: none;
  background-color: pink;
  color: white;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
  margin-top: 1em;
  margin-right: 1.5em;
}

h3 {
  font-size: 2.5em;
}

.main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.form-group label {
  display: flex;
  align-self: flex-start;
  margin: 0.75em;
}

.form-group input {
  display: flex;
  align-self: flex-start;
  height: 30px;
  font-size: 0.75em;
}
